@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #ecf0f3;
}

h1 {
  color: #3c3e41;
}

button {
  border: none;
  outline: none;
  background-color: none;
}

a {
  text-decoration: none;
  color: black;
}

p {
  color: #3c3e41;
}
