@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #ecf0f3;
}

h1 {
  color: #3c3e41;
}

button {
  border: none;
  outline: none;
  background-color: none;
}

a {
  text-decoration: none;
  color: black;
}

p {
  color: #3c3e41;
}

textarea,
input {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  outline: none;
  border: 3px solid #e2e8ec;
  margin-bottom: 20px;
}

footer {
  margin: 20% 0 10% 0;
}
footer p {
  margin-top: 30px;
}
